<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src='/public/vendor/jquery.min.js'></script>
<script type="text/javascript" src='/public/vendor/jquery.form.js'></script>
<script type="text/javascript" src='/public/vendor/bootstrap-modal.js'></script>
<script type="text/javascript" src="/public/vendor/moment.min.js"></script>
<script type="text/javascript" src="/public/vendor/moment-range.js"></script>

<link rel="stylesheet" href="/public/css/bin/norm.css">
<!-- <link rel="stylesheet" href="/public/css/main.css"> -->
<link rel="stylesheet" href="/public/css/bin/1_b.css">
<!-- <link rel="stylesheet" href="/public/css/2_l.css"> -->
<link rel="stylesheet" href="/public/css/bin/3_a.css">
<!-- <link rel="stylesheet" href="/public/css/4_s.css"> -->
<link rel="stylesheet" href="/public/css/bin/5_t.css">
<link rel="stylesheet" href="/public/css/bin/8_checkbox.css">
<link rel="stylesheet" href="/public/css/bin/9_dialog.css">
<link rel="stylesheet" href="/public/css/bin/10_input.css">
<link rel="stylesheet" href="/public/css/bin/12_doc.css">
<link rel="stylesheet" href="/public/css/bin/13_times.css">
<link rel="stylesheet" href="/public/css/bin/14_dropdown.css">
<link rel="stylesheet" href="/public/css/bin/15_uploader.css">
<link rel="stylesheet" href="/public/css/bin/16_gallery.css">
<link rel="stylesheet" href="/public/css/bin/17_progress.css">
<link rel="stylesheet" href="/public/css/bin/18_cropper.css">
<link rel="stylesheet" href="/public/css/bin/19_zoomer.css">
<!-- -->
<link rel="stylesheet" href="/public/css/bin/11_color.css">
<!-- -->
<link rel='stylesheet' type='text/css' href='/public/css/bin/css/sf-userinterface.css'>
<link rel='stylesheet' type='text/css' href='/public/css/bin/css/sf-greek-networks.css'>
<link rel='stylesheet' type='text/css' href='/public/css/bin/css/sf-networks.css'>
<link rel='stylesheet' type='text/css' href='/public/css/bin/css/otf.css'>
<!-- -->

<!-- <script type="text/javascript" src='/public/vendor/bootstrap-modal.js'></script> -->

<script type="text/javascript" src='/public/vendor/transition.js'></script>
<script type="text/javascript" src='/public/js/ui.js'></script>

<!--script>
document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
</script-->

<title>{{title}}</title>
